[*.cs]

# CS0649: Field 'Bot.aTimer' is never assigned to, and will always have its default value null
dotnet_diagnostic.CS0649.severity = none

# IDE0051: Remove unused private members
dotnet_diagnostic.IDE0051.severity = none

# IDE0059: Unnecessary assignment of a value
csharp_style_unused_value_assignment_preference = unused_local_variable
